@{
    ViewData["Title"] = "school follow up ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to you </h1>
    <p>go to Registration <a href="https://localhost:7230/Parent/Register"></a>.</p>
</div>
