@{
    ViewData["Title"] = "login";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to you </h1>
    <p>go to Registration <a href="https://localhost:7230/Parent/Register">   Click here </a>.</p>
</div>